/* General Styles */
@font-face {
    font-family: 'nevis'; /* Name your font */
    src: url('fonts/Nevis/nevis.ttf') format('nevis'); /* Specify the path to the font file and format */
}

body {
    font-family: 'nevis', sans-serif;
    background-color: #fafdc9aa;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 89px;
    box-shadow: 5px 10px #888888;
    margin: 0 auto;
    margin-bottom: 48px;
}

h1 {
    font-family: nevis, sans-serif;
    text-align: center;
}

.subtitle {
    text-align: center;
    color: rgba(49, 49, 50, 0.841);
    border: solid 2px;
    border-radius: 5px;
    font-size: 36px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    border-radius: 12px;;
    box-shadow: 5px 10px rgb(137, 137, 137);
}

ul, li {
    list-style: none;
    font-size: 24px;
    background-color: bisque;
    width: 800px
}

li {
    margin: 0 auto;
    padding: 10px;
}

ul li:hover {
    font-size: 32px;
    background-color: rgba(243, 248, 102, 0.71);
    border-radius: 20px;
    width: 98%;
}